.banner_container {
    background: url("/src/img/juha2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    
    color: #ffffff;
    display: flex;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    margin-inline-end: 4%;
    flex-direction: column;
    justify-content: center;
  }
  
  .banner_container > h1 {
    font-size: 60px;
    margin-left: 20px;
    padding-right: 100%;
  }
  .banner_info {
    font-size: 18px;
    margin-left: 20px;
    padding-right: 30%;
  }
  .highlighted {
    color: #14a359;
  }
  .btn_regular {
    display: inline-block;
    border: none;
    outline: none;
    background-color: black;
    color: #fdfeff;
    font-weight: 700;
    border: 2px solid #d6e9ff;
    padding: 0.5rem 1.5rem;
    margin-left: 20px;
    transition: 0.5s ease-out;
  }
  .btn_regular:hover {
    border: none;
    background-color: #14a359;
    border: 2px solid #14a359;
    color: black;
  }
  